.bg-primary {
  background-color:#4CAF50;
}
.bg-secondary {
  background-color: #273157;
}
.bg-tertiary {
  background-color: #F4DDDD;
}
.color-primary {
  color:#4CAF50;
}
.color-secondary {
  color: #66E8A9;
}
.color-tertiary {
  color: #F4DDDD;
}
